/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Split side */
#menu-bar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: rgb(53, 48, 48);
}

#content {
  position: fixed;
  right: 0;
  height: 100%;
  width: 70%;
}

/* ------------------------------------------------------------ */

/* menu bar */

#menu-bar h2,
i,
span,
p {
  margin: 5px;
  color: white;
}

#menu-bar section {
  position: relative;
  top: 10%;
  left: 10%;
  display: inline-block;
  width: 100%;
  height: 33.3%;
}

#menu-bar #skills p {
  padding: 0.5em;
  width: max-content;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.322);
}

/* content  */
